[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Jolla Together
Icon=harbour-unofficialtogether
Exec=harbour-unofficialtogether

